/* * {
    outline: 1px solid red;
} */

#content {
    display: flex;
    flex-direction: column;
}
.content1 {
    display: flex;
    justify-content: space-around;
}



div {

    padding: 10px;
    outline: 1px solid black;

}

#frm1 {

    background-color: #d2edf5;
    flex: auto;

}

#firstRow, #secondRow, #thirdRow {
    display: flex;
    align-items: baseline;
}

#fourthRow {
    display: flex;
    justify-content: space-around;
}

#btnS, #btnP {
    width: 80px;
}

#frm2 {

    background-color: #83f5a9;

    flex: auto;

}

#keysfrm2, #keysfrm3 {
    width: 180px;
}

.btnfrm {
    width: 80px;
}


#btn4frm3, #btn5frm3 {
    width: 100px;
}

#frm3 {

    background-color: #e3f0b4;
   
    flex: auto;

}

.content2 {
    background-color: #d8cdcd;
    display: flex;
    justify-content: space-around;
}

#tbl1 {
    background-color: #f7e3a5;
    flex: auto;
}

#tbl2 {
    background-color: #98fdfd;
    flex: auto;
}

#tbl3 {
    background-color: #feb8b8;
    flex: auto;
}